OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
EMBEDDING_MODEL=your_embedding_model_here
EMBEDDING_DIMENSION=your_embedding_dimension_here
EMBEDDING_PROVIDER=OPENAI | OPENROUTER | OLLAMA
LLM_MODEL=your_llm_model_here
LLM_PROVIDER=OPENAI | OPENROUTER | OLLAMA
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=your_postgres_db_name_here
POSTGRES_HOST=your_postgres_host_here
POSTGRES_PORT=your_postgres_port_here